@model PaymentInf
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/body.css" rel="stylesheet" />
<div id="Payment">
    <div class="mx-auto w-50 text-center" id="checkout1" data-aos="fade-up">
        <div>

            <h2>Check out now</h2>
            <p>Please enter your details, and we'll ship your goods right away!</p>

                <div asp-validation-summary="All" class="text-danger"></div>
                <form action="payment" method="post" class="needs-validation">
                    <h3 style="text-align:center;">Payment</h3>


                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="debit" name="cardType" value="Visa Debit" type="radio"
                                   class="custom-control-input" checked required> <label class="custom-control-label" asp-for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="credit" name="cardType" value="Visa Credit" type="radio"
                                   class="custom-control-input" required> <label class="custom-control-label" asp-for="credit">Credit card</label>
                        </div>
                    </div>
                    
                            <label for="cc-name" style="display: block">Name on card</label>
                            <input type="text" name="nameOnCard" asp-for="NameOnCard" class="col-md-auto mb-3" class="form-control" id="cc-name" required>
                            <div class="invalid-feedback">Name on card is required</div>
                     
                    
                        
                            <label for="cc-number" style="display: block">Card number</label>
                            <input type="number" name="cardNumber" asp-for="CardNumber" class="col-md-auto mb-3" class="form-control" id="cc-number" required>
                            <div class="invalid-feedback">Credit card number is required</div>
                        
                   

                        
                            <label for="cc-expiration" style="display: block">Expiry Date</label>
                            <div style="display: inline" class="inp" form="float:right">
                                <input style="display: inline" class="col-md-auto mb-3" type="number" name="expiryDate" min="1" max="12" asp-for="ExpiryDate1" class="form-control" id="cc-expiration" required>
                                <div class="invalid-feedback">Expiration date required</div>
                                <a>/</a>
                                <input style="display: inline" class="col-md-auto mb-3" type="number" name="expiryDate" min="21" max="65" asp-for="ExpiryDate2" class="form-control" id="cc-expiration" required>
                                <div class="invalid-feedback">Expiration date required</div>
                            </div>
                        
                    
                    
                            <label for="cc-cvv" style="display: block">CVC</label>
                            <input type="number" asp-for="CVCNumber"  name="cvcnumber" class="col-md-2 mb-3" class="form-control" id="cc-cvv" required>
                            <div class="invalid-feedback">CVC required</div>
                   
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Compl" />
                    </div>
                </form>
          
        </div>
    </div>
</div>